.flex{
    display: flex;
}

.items-center{
    align-items: center;
}

.justify-center{
    justify-content: center;
}

.justify-between{
    justify-content: space-between;
}

.justify-right{
    justify-content: right;
}

.justify-left{
    justify-content: left;
}